body{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

.barra{
	background: #db7878;
	width: 100%;
	top: 0;
}

.enlaces{
	width: 100%;
	max-width: 90%;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 29px;
}

.enlaces li{
	list-style: none;
}

.enlaces a{
	text-decoration: none;
	text-transform: uppercase;
	color: whitesmoke;
	width: 100%;
}

.enlaces a:hover{
	background: whitesmoke;
	color: #db7878;
	padding: 30px;
	cursor: pointer;
}

.menu{
	display: none;
}

.hidden{
	display: none;
	background: #302d2d;
	width: 100%;
	padding: 0;
	height: 150px;
	margin: 0;
}

#sangurucho{
	display: none;
}



@media (min-width: 200px) and (max-width: 800px) {
	body{
		font-family: 'Hammersmith One', sans-serif;
	}

	#sangurucho{
		display: inline-block;
		font-size: 30px;
		color: whitesmoke;
		margin-left: 10px;
	}

	.enlaces {
	background: black;
		display: none;
		}

	.barrita{
		background: #302d2d;
		width: 100%;
	}

	.listado{
		list-style: none;
		border-bottom: 1px solid whitesmoke;
	}

	.listado a{
		color: whitesmoke;
		width: 200px;
		text-decoration: none;
	}

	.listado a:hover{
		color: #db7878;
	}
}