body{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

.barra{
	background: #db7878;
	width: 100%;
	top: 0;
}

.enlaces{
	width: 100%;
	max-width: 90%;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 29px;
}

.enlaces li{
	list-style: none;
}

.enlaces a{
	text-decoration: none;
	text-transform: uppercase;
	color: whitesmoke;
	width: 100%;
}

.enlaces a:hover{
	background: whitesmoke;
	color: #db7878;
	padding: 30px;
	cursor: pointer;
}

.menu{
	display: none;
}