body{
	margin: 0;
	padding: 0;
}

.barra{
	background: #db7878;
	width: 100%;
	top: 0;
}

.enlaces{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.enlaces li{
	list-style: none;
}

.enlaces a{
	text-decoration: none;
}